{
  "extends": ["react-app", "prettier", "plugin:prettier/recommended"],
  "rules": {
    "import/no-anonymous-default-export": 0
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
