:root {
  --dayWidth: 40px;
}

.calendar,
.calendarMonth {
  position: relative;
  display: flex;
  user-select: none;
  outline: 0;
  width: calc(var(--dayWidth) * 7);
  flex-direction: column;
}

.calendar.calendar.withWeekNumbers {
  width: calc(var(--dayWidth) * 8);
}

.calendar {
  border-radius: 5px;
  box-shadow: 1px 0 0 #e6e6e6, -1px 0 0 #e6e6e6, 0 1px 0 #e6e6e6,
    0 -1px 0 #e6e6e6, 0 3px 13px rgba(0, 0, 0, 0.08);
}

.calendar.multipleMonths {
  width: fit-content;
  flex-direction: row;
}

.calendarHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

.calendarMonth + .calendarMonth {
  margin-left: 20px;
}

.calendar.multipleMonths .calendarMonthPrev,
.calendar.multipleMonths .calendarMonthNext {
  position: absolute;
  z-index: 1;
}

.calendar.multipleMonths .calendarMonthPrev {
  left: 0;
}

.calendar.multipleMonths .calendarMonthNext {
  right: 0;
}

.calendarMonthPrev,
.calendarMonthNext {
  width: 20px;
  height: 20px;
  text-align: center;
  cursor: pointer;
}

.calendarMonthPrev svg,
.calendarMonthNext svg {
  vertical-align: middle;
  width: 14px;
  height: 14px;
}

.calendarCurrentMonth {
  font-size: 1.3em;
  text-align: center;
  flex-grow: 1;
}

.calendarWeek {
  display: flex;
}

.calendarDayContainer {
  display: flex;
  flex-wrap: wrap;
}

.calendarWeekdays {
  display: flex;
}
.calendarWeekdays .calendarWeekNumber,
.calendarWeekday {
  width: var(--dayWidth);
  text-align: center;
}

.calendarWeek .calendarWeekNumber,
.calendarDay {
  border-color: transparent;
  width: var(--dayWidth);
  height: var(--dayWidth);
  line-height: var(--dayWidth);
  text-align: center;
  color: #393939;
  box-sizing: border-box;
}

.calendarDay {
  border-radius: 100%;
  cursor: pointer;
  background-color: transparent;
}
.calendarWeekdays .calendarWeekNumber,
.calendarWeek .calendarWeekNumber {
  background-color: #fafafa;
  font-weight: bold;
}

.calendarDay.prevMonth,
.calendarDay.nextMonth {
  color: rgba(57, 57, 57, 0.3);
}

.calendarDay.today {
  border: 1px solid #569ff7;
}

.calendarDay:focus,
.calendarDay.focused {
  box-shadow: 0px 0px 5px 0px #569ff7;
  outline: none;
}

.calendarDay.selected {
  background: #569ff7;
  border: none;
}

.calendarDay.inRange {
  background: #569ff7;
  border: none;
  border-radius: 0;
}

.calendarDay.rangeStart {
  border-top-left-radius: 100%;
  border-bottom-left-radius: 100%;
}

.calendarDay.rangeEnd {
  border-top-right-radius: 100%;
  border-bottom-right-radius: 100%;
}
.calendarDay:hover {
  background: #e6e6e6;
}
.calendarDay.disabled {
  opacity: 0.5;
  pointer-events: none;
}
