:root {
  --containerWidth: 280px;
}

.calendar {
  user-select: none;
  outline: 0;
  width: var(--containerWidth);
  border-radius: 5px;
  box-shadow: 1px 0 0 #e6e6e6, -1px 0 0 #e6e6e6, 0 1px 0 #e6e6e6,
    0 -1px 0 #e6e6e6, 0 3px 13px rgba(0, 0, 0, 0.08);
}

.calendarMonths {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

.calendarMonthPrev,
.calendarMonthNext {
  width: 20px;
  height: 20px;
  text-align: center;
  cursor: pointer;
}

.calendarMonthPrev svg,
.calendarMonthNext svg {
  vertical-align: middle;
  width: 14px;
  height: 14px;
}

.calendarCurrentMonth {
  font-size: 1.3em;
  text-align: center;
}

.calendarDayContainer {
  display: flex;
  flex-wrap: wrap;
}

.calendarWeekdays {
  display: flex;
}

.calendarWeekday {
  flex-basis: calc(100% / 7);
  text-align: center;
}

.calendarDay {
  border-color: transparent;
  background-color: transparent;
  width: calc(var(--containerWidth) / 7);
  height: calc(var(--containerWidth) / 7);
  line-height: calc(var(--containerWidth) / 7);
  text-align: center;
  border-radius: 100%;
  cursor: pointer;
  color: #393939;
  flex-basis: calc(100% / 7);
  box-sizing: border-box;
}

.calendarDay.prevMonth,
.calendarDay.nextMonth {
  color: rgba(57, 57, 57, 0.3);
}

.calendarDay.today {
  border: 1px solid #569ff7;
}

.calendarDay:focus,
.calendarDay.focused {
  box-shadow: 0px 0px 5px 0px #569ff7;
  outline: none;
}

.calendarDayContainer .calendarDay.selected {
  border-radius: 0;
  background: #569ff7;
  border: none;
}
.calendarDayContainer .calendarDay.selected:last-of-type {
  border-radius: 100%;
}

.calendarDay:hover {
  background: #e6e6e6;
}
